.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.header{  
  height: 50px;
  width: 100%;
  text-align: center;
  flex-direction: column; 
  border: 1px solid black;
  background-color: #61dafb;
}


.link { 
  height: 30px;
  width: 100%;
  font-size: 20px;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
 display: flex;
 justify-content: space-around;
}
/* { } */
.home{ 
  height: 100vh;
  display: flex;
  background-image:  linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.h1{ 
 
  height: 200px;
  width: 20%;
  text-align: center;
  margin-left: 30px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  
}
.img { 
  height: 100px;
  align-items: center;
}
.phone{ 
  margin-top: auto;
} 

.profile{ 
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
 /* background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%); */
}

.form{ 
  margin-top: 30px;
  width: 45%;
  text-align: center;
  flex-direction: column; 
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.f1{ 
  margin-top: 20px;
 
  text-align: center;
  flex-direction: column; 
}

.about{ 
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.form1{  
  height: 400px;
  width: 45%;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column; 
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.login{ 
  margin-top: 30px;
  width: 30%;

  text-align: center;
  flex-direction: column; 
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.base{ 
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}
.btn{ 
  height: 30px;
  margin-top: 10px;
  color: #0a0406;
  }
